.container-padded {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 15px;
    padding-right: 15px;
}

ion-icon {
    font-size: 32px;
  }

.styled-table-wrapper {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.hidden {
    display: none;
}

.sdi-apply {
    background-color: #2C2D33;
    padding: 2rem;
    color: #fff;
    border-radius: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
}

.sdi-video {
    display: flex;
    justify-content: center;
    padding: 2% 0 2%;
}
.sdi-video video {
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.25);
}

.linktext {
    color: #cf4c00;
    font-size: 14px;
    line-height: 1.5;
    font-weight: bold;
    text-transform: uppercase;
}

.linktext::after {
    content: "";
    position: absolute;
    background-image: url(/assets/right-arrow-icon.svg);
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    margin-left: 10px;
    margin-top: 4px;
}