:root {
    --primary: 63, 81, 181;
    --primary-main: rgb(var(--primary));
    --primary-light: rgb(117, 125, 232);
    --primary-dark: rgb(0, 41, 132);
    --primary-hover: rgba(var(--primary),0.5);
    --primary-contrast: #ffffff;
}

.outside-wrapper {
    width: 100%;
}

.inside-wrapper {
    box-sizing: border-box;
    width: 75%;
    margin: auto;
}

@media only screen and (max-width: 600px) {
    .inside-wrapper {
      width: 90%;
    }
  }

.event-toggle-row {
    text-align: center;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

.event-toggle-buttons {
    display: inline-block;
    box-sizing: content-box;
    min-width: 60px;
    padding: 1em;
    margin: 0.5em 0.5em;
    border-radius: 13px;
    border-style: solid;
    border-color: var(--primary-main);
    border-width: medium;
    text-transform: uppercase;
    outline: none;
}

.event-toggle-buttons-deselected {
    background-color: var(--primary-contrast);
    color: var(--primary-main);
}

.event-toggle-buttons-selected {
    background-color: var(--primary-main);
    color: var(--primary-contrast);
}

.event-toggle-buttons:hover {
    background-color: var(--primary-hover);
    color: var(--primary-contrast);
    transition: all 0.1s ease-in;
}

.event-toggle-buttons:active {
    background-color: var(--primary-dark);
    color: var(--primary-contrast);
    transition: all 0.1s ease-in;
} 


.cards-row {
	margin: 30px auto;
    font-size: 1.5rem;
    text-align: center;
    overflow: auto;
}

.card {
    text-align: left;
	display: inline-block;
	width: 40%;
	min-width: 400px;
	box-sizing: border-box;
    -webkit-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.75);
	border-radius: 5px;
	margin: 1em 1.5%;
	/* animation: scl 0.5s ease-in-out; */
	/* transform-origin: left center; */
	background-color: #fff;
}

.card:hover {
    box-shadow: 7px 7px 15px 2px rgba(0,0,0,0.5);
    transition: box-shadow 0.3s ease-in;
}

.card-title {
    margin: -1.5em 0 0 0;
    padding: 0 0 0.5em 0.5em;
    color: white;
    font-size: 2em;
}

.card-image {
    box-sizing: border-box;
    width: 100%;
    height: 150px;
    overflow: hidden;
}

.card-dates {
    box-sizing: content-box;
    font-size: 0.9em;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0 1em 1em 1em;
    text-align: left;
    height: 1em;
    overflow: hidden;
}

.card-date, .card-time {
    display: inline;
    margin: 0 1em 0 0;
}

.card-desc {
    box-sizing: content-box;
    font-size: 0.9em;
    padding: 0 1em 1em 1em;
    text-align: justify;
    height: 4em;
    overflow: hidden;
    border-bottom: 1px solid rgba(170, 170, 170, 0.5);
}

.card-action {
    margin: 1em 0 1em 1em;
    height: 3em;
    width: 8em;
    background-color: var(--primary-main);
    color: var(--primary-contrast);
    border: none;
    outline: none;
    text-align: center;
    /* position: relative; */
    text-transform: uppercase;
    overflow: hidden;
    border-radius: 4px;
}

.card-action:hover {
    background-color: var(--primary-hover);
    color: var(--primary-contrast);
    transition: all 0.1s ease-in;
}

.card-action:active {
    background-color: var(--primary-dark);
    color: var(--primary-contrast);
    transition: all 0.1s ease-in;
} 