:root {
  --primary: 230, 74, 25;
  --primary-main: rgb(var(--primary));
  --primary-light: rgb(255, 125, 71);
  --primary-dark: rgb(172, 8, 0);
  --primary-hover: rgba(var(--primary), 0.5);
  --primary-contrast: #ffffff;
}

.outside-wrapper {
  width: 100%;
}

.inside-wrapper {
  box-sizing: border-box;
  width: 75%;
  margin: auto;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .inside-wrapper {
    width: 90%;
  }
}


@media only screen and (max-width: 600px) {
    .card {
      width: 95%;
      display: block;
      min-width: 150px;
      margin: auto;
      box-sizing: border-box;
    }
  }


.card {
  overflow: hidden;
  white-space: normal;
  text-align: left;
  display: inline-block;
  width: 70%;
  min-width: 300px;
  box-sizing: content-box;
  -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  margin: 4em;
  padding: 3em;
  /* animation: scl 0.5s ease-in-out; */
  /* transform-origin: left center; */
  background-color: #fff;
}

/* iframe iframe#hs-form-iframe-0 {
    width: 100px!important;
} */

.card:hover {
  box-shadow: 7px 7px 15px 2px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.3s ease-in;
}
