@font-face {
  font-family: Roboto;
  src: url(../fonts/fontawesome-webfont.ttf);
  font-weight: 400;
}
@font-face {
  font-family: Roboto;
  src: url(../fonts/fontawesome-webfont.ttf);
  font-weight: 700;
}

:root {
    --timeline: #000;
  }

.upper {
    text-transform: uppercase;
}

body,
html {
  margin: 0;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}
img {
  width: 100%;
  height: auto;
}
.heading-block {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.35em;
  padding: 0 10%;
}
.heading-block h3 {
  font-size: 14px;
}
section.main .gradient {
  padding: 3rem 0;
  background: linear-gradient(0deg, #000, #9d9fa2 49%, #fff);
}
section.main .gradient.gray {
  background: #e5e5e5;
  padding-top: 0;
}
section.main .gradient.gray .bar {
  margin-top: 0;
}
section.main .gradient .video {
  display: flex;
  justify-content: center;
  padding: 2% 0 5%;
}
section.main .gradient .video iframe {
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.25);
}
section.main .resources {
  flex-wrap: wrap;
  padding: 5%;
}
section.main .resources,
section.main .resources a {
  display: flex;
  justify-content: center;
  align-items: center;
}
section.main .resources a {
  width: 250px;
  min-height: 120px;
  font-size: 18px;
  font-weight: 700;
  color: #000;
  text-decoration: none;
  text-align: center;
  border: 2px solid #000;
  padding: 1em;
  margin: 1em;
}
section.main .resources a:hover {
  border-color: var(--timeline);
  background-color: var(--timeline);
  color: #fff;
}
section.main .bar {
  background-color: #000;
  padding: 2rem 0;
  margin: 2rem 0;
  color: #fff;
}
section.main .graphic {
  max-width: 1400px;
  padding: 0 10%;
  width: 80%;
  margin: 0 auto;
  display: block;
}
section.main .lap-top {
    background-image: none;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: auto;
  /* height: 55vw;
  width: 100%;
  background-position: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #e5e5e5; */
}
section.main .lap-top .main-img {
  display: inline;
}
section.main .lap-top .text-col {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section.main .lap-top .text-col .text {
  width: 70%;
  margin: 0 auto;
}
section.main .lap-top .text-col .text .text-head {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #fff;
}
section.main .lap-top .text-col .text .text-body {
  font-size: 14px;
  line-height: 20px;
}
@media screen and (max-width: 1024px) {
  section.main .lap-top {
    background-image: none;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: auto;
  }
  section.main .lap-top .main-img {
    display: block;
  }
  section.main .lap-top .text-col {
    background-color: #e5e5e5;
    width: 100%;
  }
  section.main .lap-top .text-col .text {
    width: 80%;
    margin: 0 auto;
    height: auto;
    padding: 0 10% 8vw;
  }
}
section.main .generic-wrapper {
  padding: 3rem 0;
  background-color: #000;
  color: #fff;
}
section.intro .main-logo-intro {
  display: flex;
  background-color: #000;
  justify-content: center;
  padding: 2rem 0 3rem;
}
section.intro .main-logo-intro img {
  height: 120px;
  width: auto;
}
section.intro .main-banner-intro {
  display: flex;
  color: #fff;
  background-color: #000;
  background-size: cover;
  background-position: 50%;
  height: 300px;
  justify-content: center;
  align-items: center;
  padding-bottom: 7rem;
}
section.intro .main-banner-intro .spacer {
  width: 16%;
}
section.intro .main-banner-intro .text {
  font-weight: 700;
}
@media screen and (max-width: 1200px) {
  intro .main-banner-intro {
    padding: 0;
    flex-direction: column;
    justify-content: flex-start;
    height: 25vw;
  }
  section.intro .main-banner-intro .spacer {
    height: 14vw;
  }
  section.intro .main-banner-intro .text {
    text-align: center;
    padding: 0.5rem;
    border-radius: 0;
    margin: 10px;
    font-weight: 700;
  }
  section.intro .main-banner-intro .text:first-of-type {
    margin-top: 0;
    padding-top: 0;
  }
}
div.img-text-inner {
  display: flex;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 10%;
  justify-content: space-between;
}
div.img-text-inner.icon {
  margin-top: 20px;
  justify-content: left;
}
div.img-text-inner.icon .img {
  min-width: 100px;
  max-width: 100px;
}
div.img-text-inner.icon .text {
  min-width: unset;
  max-width: unset;
  margin-left: 20px;
  width: 100%;
}
div.img-text-inner.icon .icon-row {
  padding-top: 0;
  justify-content: center;
}
div.img-text-inner.icon .icon-row .icon-block {
  flex-basis: 20%;
  margin-right: 5%;
}
div.img-text-inner .img {
  text-align: center;
  min-width: 55%;
  max-width: 55%;
}
div.img-text-inner .text {
  color: #fff;
  min-width: 40%;
  max-width: 40%;
}
div.img-text-inner .text .text-head {
  font-size: 24px;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #fff;
}
div.img-text-inner .text .text-body {
  font-size: 16px;
  line-height: 22px;
}
@media screen and (max-width: 1023px) {
  div.img-text-inner {
    flex-wrap: wrap;
    padding: 0 5%;
  }
  div.img-text-inner.icon .img {
    min-width: 100%;
    max-width: 100%;
    text-align: center;
  }
  div.img-text-inner.icon .img img {
    width: 100px;
  }
  div.img-text-inner.icon .text {
    min-width: 100%;
    max-width: 100%;
    margin: 0;
  }
  div.img-text-inner .img {
    text-align: center;
  }
  div.img-text-inner .img,
  div.img-text-inner .text {
    min-width: 100%;
    max-width: 100%;
    padding: 1rem 0;
  }
  div.img-text-inner .img .text-head,
  div.img-text-inner .text .text-head {
    font-size: 18px;
  }
  div.img-text-inner .img .text-body,
  div.img-text-inner .text .text-body {
    font-size: 16px;
    line-height: 22px;
  }
}
div.icon-row {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  padding: 6rem 10% 1rem;
  flex-wrap: wrap;
}
div.icon-row .icon-block {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}
div.icon-row .icon-block:not(:nth-of-type(3n)) {
  margin-right: 5%;
}
div.icon-row .icon-block .icon {
  width: 6vw;
  min-width: 72px;
}
div.icon-row .icon-block .icon-heading {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  margin: 2rem 0;
}
div.icon-row .icon-block .icon-body {
  font-size: 14px;
  text-align: center;
  line-height: 20px;
}
@media screen and (max-width: 1024px) {
  div.icon-row {
    flex-direction: column;
    padding-top: 3rem;
  }
  div.icon-row .icon-block {
    padding: 1rem 0;
  }
}
section.support .support {
  background-color: var(--timeline);
  color: #fff;
  display: flex;
  padding: 1.5rem 0;
  flex-direction: column;
  align-items: center;
}
section.support .support .support-heading {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 1em;
}
section.support .support .support-link {
  background-color: #000;
  padding: 1rem;
  color: #fff;
  border-radius: 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
}
section.support .support .support-link:hover {
  background-color: #636466;
}
section.support .main-logo-support {
  display: flex;
  background-color: #000;
  justify-content: center;
  padding: 2rem 0 3rem;
}
section.support .main-logo-support img {
  height: 100px;
  width: auto;
}
section.support small {
  display: block;
  color: #636466;
  text-align: center;
  padding: 1rem 0;
  background: #000;
  font-size: 10px;
  width: 100%;
}
div.timeline {
  padding: 5rem 0;
}
div.timeline .timeline-inner {
  max-width: 1400px;
  margin: 2rem auto 0;
  padding: 0 10%;
  height: 245px;
  position: relative;
  display: flex;
  justify-content: space-between;
}
div.timeline .timeline-inner .line {
  height: 5px;
  background-color: #000;
  width: 90%;
  position: absolute;
  left: 5%;
  top: 50%;
  margin-top: -2.5px;
}
div.timeline .timeline-inner .line:after,
div.timeline .timeline-inner .line:before {
  width: 20px;
  height: 20px;
  content: "";
  background-color: #000;
  position: absolute;
  top: -7.5px;
}
div.timeline .timeline-inner .line:after {
  right: 0;
}
div.timeline .timeline-inner .timeline-item {
  padding: 0 0.5rem;
  color: #fff;
  background-color: #3fb599;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  height: 100px;
  position: relative;
  border-radius: 4px;
  text-align: center;
  font-size: 14px;
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.25);
}
div.timeline .timeline-inner .timeline-item strong {
  margin-top: 5px;
}
div.timeline .timeline-inner .timeline-item:before {
  content: "";
  width: 11px;
  height: 11px;
  background-color: #bcbec0;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  border-radius: 100%;
  z-index: 5;
}
div.timeline .timeline-inner .timeline-item:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;
  margin-left: -18px;
}
div.timeline .timeline-inner .timeline-item.even {
  align-self: flex-end;
}
div.timeline .timeline-inner .timeline-item.even:before {
  top: -27.75px;
}
div.timeline .timeline-inner .timeline-item.even:after {
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid var(--timeline);
  top: -20px;
}
div.timeline .timeline-inner .timeline-item.odd {
  align-self: flex-start;
}
div.timeline .timeline-inner .timeline-item.odd:before {
  bottom: -28.75px;
}
div.timeline .timeline-inner .timeline-item.odd:after {
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid var(--timeline);
  bottom: -20px;
}
@media screen and (max-width: 1200px) {
  div.timeline .timeline-inner {
    flex-direction: column;
    height: auto;
  }
  div.timeline .timeline-inner .timeline-item {
    height: auto;
    padding: 1rem;
    margin: 10px 0 10px 30px;
    width: calc(100% - 2rem - 30px);
    text-align: left;
  }
  div.timeline .timeline-inner .timeline-item.even {
    align-self: flex-start;
  }
  div.timeline .timeline-inner .timeline-item.even:before {
    top: auto;
    left: -29px;
  }
  div.timeline .timeline-inner .timeline-item.even:after {
    border-top: 20px solid transparent;
    border-right: 30px solid var(--timeline);
    border-bottom: 20px solid transparent;
    top: auto;
    left: -30px;
  }
  div.timeline .timeline-inner .timeline-item.odd:before {
    bottom: auto;
    left: -31px;
  }
  div.timeline .timeline-inner .timeline-item.odd:after {
    border-top: 20px solid transparent;
    border-right: 30px solid var(--timeline);
    border-bottom: 20px solid transparent;
    bottom: auto;
    left: -30px;
  }
  div.timeline .timeline-inner .line {
    height: 100%;
    width: 5px;
    top: 0;
    left: 10%;
  }
  div.timeline .timeline-inner .line:before {
    top: 0;
  }
  div.timeline .timeline-inner .line:after,
  div.timeline .timeline-inner .line:before {
    width: 20px;
    height: 5px;
    content: "";
    background-color: #000;
    position: absolute;
    left: -7.5px;
  }
  div.timeline .timeline-inner .line:after {
    bottom: 0;
    top: auto;
  }
}
