---
layout: page
title: Spark
permalink: /
---

<!-- Slider Start-->
<section id="slider" sectionstyle="color: #111;">
  <div class="container">
    <div class="slider-wrapper">
      <div class="slider">
        <img id="slide-1" src="img/spark-logo-card.jpg" alt="spark-logo"/>
        <img id="slide-2" src="img/2023-spark-tank-marquee.png" alt="2023-Spark-Tank" a href="https://travisspark.com/ideas/"/></a>
        <img id="slide-3" src="img/2022-AFA.jpeg" alt="AFA-picture"/>
        <img id="slide-4" src="img/Dig-Init.png" alt="Digital-Initiatives-placeholder"/>
      </div>
      <div class="slider-nav">
        <a href="#slide-1"></a>
        <a href="#slide-2"></a>        
        <a href="#slide-3"></a>
        <a href="#slide-4"></a>                
    </div>    
  </div>
</section> 

<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>Mission</h2>
            <p>
              Empower a community of venture & experimentation at Team Travis to
              outpace advancements made by international competitors.
            </p>
          </div>
          <div class="section-title">
            <h2>Vision</h2>
          </div>
          <p>
            Passionate, solution-driven Airmen accelerating the development,
            adoption, and acquisition of real-time solutions in the arena of
            rapid global mobility.
          </p>
        </div>
      </div>
      <!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/covid_mask.png" alt="COVID Mask" />
        </div>
      </div>
      <!-- .col-md-5 close -->
    </div>
  </div>
</section>

<!-- <div class="container">
  <div class="responsive-iframe-container">
    <iframe
      src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=2&amp;bgcolor=%23ffffff&amp;ctz=America%2FLos_Angeles&amp;src=Y19mNW5iZGE1Y29xa3BlOHNmYzRjdGFsZzZkMEBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&amp;src=OTlsMDZtOGZscmgzcjAyZ2VmMmdmbGZxcjFqaG5lYm9AaW1wb3J0LmNhbGVuZGFyLmdvb2dsZS5jb20&amp;color=%23D50000&amp;color=%23009688&amp;mode=AGENDA&amp;showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=1&amp;showTabs=1&amp;showCalendars=0&amp;showTz=1"
      style="border-width: 0"
      frameborder="0"
      scrolling="no"
    ></iframe>
  </div>
</div> -->

<section id="feature">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-6">        
        <h2>PRIORITIES</h2>
        <p>1. Increase Lethality</p>
        <p>2. Return Time to Airmen</p>
        <p>3. Empower Innovators at all Levels</p>
        <p>4. Reduce Cost</p>
        <!-- <a href="mailto:phoenix@spark.dso.mil" class="btn btn-view-works">Learn More</a> -->
      </div>
    </div>
  </div>
</section>

<!-- Service Start -->
<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>Focus Areas</h2>
        <p>The tools we use to improve the mission.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <ion-icon name="print-outline"></ion-icon>
          <h4>Additive Manufacturing</h4>
          <p>
            Additive manufacturing, also known as 3D printing, has a proven ability to
            enhance sustainment capabilities while minimizing supply chain costs
            associated with contracts, transport, and storage.
            <br>
            <br>
            Phoenix Spark has an array of 3D printing capabilities using both extrusion 
            and resin printing technology.  
            <br>
            <br>
            Phoenix Spark hosts bi-weekly classes to teach airmen the basics of 
            Computer Aided Design (CAD) and drafting taught by a dedicated corp of
            trained instructors.  Classes are open to all DoD personnel (not dependents).
          </p>
          <br />
          <a href="{{ '/manufacturing/'  | relative_url }}" class="linktext"
            >Learn about 3D printing</a
          >
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <ion-icon name="code-slash-outline"></ion-icon>
          <h4>Digital Environments</h4>
          <p>
            The wars of today and tomorrow are not only fought by soldiers with guns 
            but increasingly by leveraging digital capabilities and knowledge.
            <br>
            <br>
            Phoenix Spark seeks to ensure this arrow in the quiver of the USAF achieves 
            all it can to better safeguard our nations and its citizens.  A Digital 
            Initiative pipeline is being created to educate airmen on software coding 
            using languages such as JavaScript, CSS, React, HTML, and others.  
            <br>
            <br>
            Look back later to see what exciting new digital classes are available here
            at Phoenix Spark!
          </p>
          <br />
          <a href="{{ '/digital/' | relative_url }}" class="linktext"
            >Learn about planned Digital Initiatives</a
          >
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <ion-icon name="game-controller-outline"></ion-icon>
          <h4>Augmented & Virtual Reality (AR & VR)</h4>
          <p>
            Traditional training and workflows in the military are conducted
            using legacy paper products and checklists. AR & VR solutions have
            the potential to change this paradigm and bring the USAF into the 
            future.
            <br>
            <br>
            Phoenix Spark is leading the way by incorporating AR & VR to 
            increase the speed of training without sacrificing quality, 
            bolstering efficiency while enabling instructors to better educate
            their students, along with providing USAF personnel better tools to
            ensure aircraft and aircrew are mission-ready.
          </p>
          <br>
          <a href="{{ '/arvr/' | relative_url }}" class="linktext"
            >Learn about AR & VR</a
          >
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <ion-icon name="airplane-outline"></ion-icon>
          <h4>Small Unmanned Aerial Systems (sUAS)</h4>
          <p>
            sUAS projects at Travis are actively changing how the USAF uses cutting-edge 
            technology to improve our posturing to ensure rapid responses to real-world 
            events, ensuring our situational awareness for rapid decision making, and 
            safeguarding mission readiness.
            <br>
            <br>
            Travis AFB was the first base in the USAF to secure a waiver for sUAS 
            operations on the flightline and has not looked back since.  Whether it's 
            patroling the base perimeter for SFS, survey storm damage for CE, or helping 
            inspect aircraft for MX, the Travis AFB sUAS program is leading the way.
          </p>
          <br />
          <a href="{{ '/suas/' | relative_url }}" class="linktext"
            >Learn about the sUAS program</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <!-- <h2>View our Portfolio</h2> -->
          <!-- <p>
            If you are interested in joining a Tron community like <em>Airmen Coders</em>,
            or would like to build a local #PoweredByTron software development team
            at your unit, take a look at our Portfolio/Partners to see what work is 
            currently being done! 
          </p>
          <a class="btn btn-default btn-call-to-action" href="{{ '/portfolio/' | relative_url }}"
            >View our Partners & Portfolio</a
          > -->
          <h2>Interested?</h2>
          <p>
            If you are interested in joining the Travis innovation community,
            reach out!
          </p>
          <a
            class="btn btn-default btn-call-to-action"
            href="{{ '/contact/' | relative_url }}"
            >Contact Us</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Content Start -->
<!-- <section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>Fun Facts About Us</h2>
        <p>
          Far far away, behind the word mountains, far from the countries
          Vokalia and Consonantia, there live the blind texts. Separated they
          live in Bookmarksgrove right at the coast of the Semantics
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% if site.data.funfacts.size > 0 %}
        <div class="block">
          {% for ff in site.data.funfacts %}
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="{{ ff.icon }}"></i>
                <h4 class="counter">{{ ff.counter }}</h4>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
              <img src="img/cotation.png" alt="IMG" />
              <p>{{ tm.testimonial }}</p>
              <div class="user">
                <img src="{{ tm.image }}" alt="People" />
                <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section> -->
