---
layout: page
title: Spark
permalink: /
---

<!-- Slider Start -->
<div class="slideshow-container">

  <!-- Full-width images with number and caption text -->
  <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <img src="img1.jpg" style="width:100%">
    <div class="text">Caption Text</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">2 / 3</div>
    <img src="img2.jpg" style="width:100%">
    <div class="text">Caption Two</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">3 / 3</div>
    <img src="img3.jpg" style="width:100%">
    <div class="text">Caption Three</div>
  </div>

  <!-- Next and previous buttons -->
  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>

<!-- The dots/circles -->
<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
</div>

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

let slideIndex = [1,1];
/* Class the members of each slideshow group with different CSS classes */
let slideId = ["mySlides1", "mySlides2"]
showSlides(1, 0);
showSlides(1, 1);

function plusSlides(n, no) {
  showSlides(slideIndex[no] += n, no);
}

function showSlides(n, no) {
  let i;
  let x = document.getElementsByClassName(slideId[no]);
  if (n > x.length) {slideIndex[no] = 1}
  if (n < 1) {slideIndex[no] = x.length}
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  x[slideIndex[no]-1].style.display = "block";
}

<!-- <div class="container">
  <div class="responsive-iframe-container">
    <iframe
      src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=2&amp;bgcolor=%23ffffff&amp;ctz=America%2FLos_Angeles&amp;src=Y19mNW5iZGE1Y29xa3BlOHNmYzRjdGFsZzZkMEBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&amp;src=OTlsMDZtOGZscmgzcjAyZ2VmMmdmbGZxcjFqaG5lYm9AaW1wb3J0LmNhbGVuZGFyLmdvb2dsZS5jb20&amp;color=%23D50000&amp;color=%23009688&amp;mode=AGENDA&amp;showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=1&amp;showTabs=1&amp;showCalendars=0&amp;showTz=1"
      style="border-width: 0"
      frameborder="0"
      scrolling="no"
    ></iframe>
  </div>
</div> -->

<section id="feature">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-6">
        <h2>PRIORITIES</h2>
        <p>1. Increase Lethality</p>
        <p>2. Return Time to Airmen</p>
        <p>3. Empower Innovators at all Levels</p>
        <p>4. Reduce Cost</p>
        <a href="mailto:phoenix@spark.dso.mil" class="btn btn-view-works"
          >Learn More</a
        >
      </div>
    </div>
  </div>
</section>

<!-- Service Start -->
<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>Focus Areas</h2>
        <p>The tools we use to improve the mission.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <ion-icon name="print-outline"></ion-icon>
          <h4>Additive Manufacturing</h4>
          <p>
            Additive manufacturing, or 3D printing, has proven the ability to
            enhance sustainment capabilities while minimizing supply chain costs
            associated with contracts, transport, and storage.
          </p>
          <br />
          <a href="{{ '/manufacturing/'  | relative_url }}" class="linktext"
            >Learn about 3D printing</a
          >
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <ion-icon name="code-slash-outline"></ion-icon>
          <h4>Digital Environments</h4>
          <p>
            In the growing world of technology, we spend over 90% of our day
            interacting with digital tools. We strive to keep our Airmen
            informed on recent developments in the field that can both benefit
            and threaten our way of lives.
          </p>
          <br />
          <a href="{{ '/digital/' | relative_url }}" class="linktext"
            >Enter the Matrix</a
          >
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <ion-icon name="game-controller-outline"></ion-icon>
          <h4>Augmented & Virtual Reality (AR,VR), Automated Vehicles</h4>
          <p>
            Traditional training and workflows in the military are conducted
            using legacy paper products and checklists. AR/VR/XR solutions have
            the potential to change this paradigm.
          </p>
          <br />
          <a href="{{ '/arvr/' | relative_url }}" class="linktext"
            >Play with AR/VR</a
          >
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <ion-icon name="airplane-outline"></ion-icon>
          <h4>Small Unmanned Aerial Systems (sUAS)</h4>
          <p>
            sUAS projects at Travis are actively changing the reality of how we
            secure our perimeters, perform maintenance on large jets, and much
            more, all aimed at improving our situational awareness for rapid
            decision making.
          </p>
          <br />
          <a href="{{ '/suas/' | relative_url }}" class="linktext"
            >Fly a drone</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <!-- <h2>View our Portfolio</h2> -->
          <!-- <p>
            If you are interested in joining a Tron community like <em>Airmen Coders</em>,
            or would like to build a local #PoweredByTron software development team
            at your unit, take a look at our Portfolio/Partners to see what work is 
            currently being done! 
          </p>
          <a class="btn btn-default btn-call-to-action" href="{{ '/portfolio/' | relative_url }}"
            >View our Partners & Portfolio</a
          > -->
          <h2>Interested?</h2>
          <p>
            If you are interested in joining the Travis innovation community,
            reach out!
          </p>
          <a
            class="btn btn-default btn-call-to-action"
            href="{{ '/contact/' | relative_url }}"
            >Contact Us</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Content Start -->
<!-- <section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>Fun Facts About Us</h2>
        <p>
          Far far away, behind the word mountains, far from the countries
          Vokalia and Consonantia, there live the blind texts. Separated they
          live in Bookmarksgrove right at the coast of the Semantics
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% if site.data.funfacts.size > 0 %}
        <div class="block">
          {% for ff in site.data.funfacts %}
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="{{ ff.icon }}"></i>
                <h4 class="counter">{{ ff.counter }}</h4>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
              <img src="img/cotation.png" alt="IMG" />
              <p>{{ tm.testimonial }}</p>
              <div class="user">
                <img src="{{ tm.image }}" alt="People" />
                <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section> -->
