---
layout: page
title: Tron
permalink: /
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
          <h1 class="animated fadeInUp"><img src="/img/TRONLogo_Combo-Horizontal-WH.png" alt="tron" style="width:30%; height:30%"/></h1>
          <p class="animated fadeInUp">
            The collaborative, end-to-end, government enablement and prototype
            accelerator foundation.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>Mission</h2>
            <p>
              We seek to build a government-wide cadre of digitally-enabled
              servicemembers and civilians through open, extensible, and
              mission-obsessed software.
            </p>
          </div>
          <div class="section-title">
            <h2>Vision</h2>
          </div>
          <p>
            Success to us means creating an environment within the US military
            and government at large where any servicemember or government
            civilian can become educated and enabled to contribute to the
            software that runs their lives & the lives of the people they
            represent, whether through code, product ownership, design, or
            elsewhere, in a manner that brings programmatic decision authority
            to the people who are closest to the mission.
          </p>
        </div>
      </div>
      <!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/alaska_jet_effects_round.png" alt="Img" />
        </div>
      </div>
      <!-- .col-md-5 close -->
    </div>
  </div>
</section>

<section id="feature">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-6">
        <h2>CORE VALUES</h2>
        <p>
          1. The people of the United States of America deserve military and
          government leadership who can effectively communicate, understand, and
          lead in a world dominated by software & technology.
        </p>
        <p>
          2. This technological talent is curated best by empowering individuals
          who are passionate and purpose-driven in digital service towards their
          country.
        </p>
        <p>
          3. There is no reason to wait to be promoted before believing you can
          have an impact.
        </p>
        <a href="https://tron.substack.com/about" class="btn btn-view-works"
          >Learn More</a
        >
      </div>
    </div>
  </div>
</section>

<!-- Service Start -->
<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>Our Services</h2>
        <p>
          The intentional lines of effort that we have the ability to support at
          scale for existing or prospective teams.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <a href="/learning/pathways"
            ><ion-icon name="school-outline"></ion-icon>
            <h4>Servicemember Learning Pathways</h4>
            <p>
              Become an end-to-end certified developer, deployer, or mentor for
              code running on DoD Weapons Systems.
            </p></a
          >
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <a href="/services/mentorship.html"
            ><ion-icon name="code-slash-outline"></ion-icon>
            <h4>Community-Driven Software Development & Mentorship</h4>
            <p>
              Connecting digitally-adept servicemembers to an appropriate formal
              or informal mentorship support community.
            </p></a
          >
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <a href="/services/talent-development.html">
            <ion-icon name="person-add-outline"></ion-icon>
            <ion-icon name="person-add-outline"></ion-icon>
            <ion-icon name="person-add-outline"></ion-icon>
            <h4>Focused Talent Development</h4>
            <p>
              If you are an innovation cell, software factory, service
              representative, or programmatic effort looking to upskill at
              scale, you can work with our team to identify talent and place in
              an immersive software experience.
            </p></a
          >
        </div>
      </div>
      <!-- <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-bug"></i>
          <h4>Static Site Hosting</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut
          </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <a href="/services/tutorials.html"
            ><i class="ion-headphone"></i>
            <h4>Tutorials for Basic P1 Enterprise Collaboration</h4>
            <p>
              There are lots of great tools on DoD Platform One, this area
              contains information/documentation on how to utilize.
            </p></a
          >
        </div>
      </div> -->
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <a href="/services/common-links.html"
            ><ion-icon name="link-outline"></ion-icon>
            <h4>Everyday Links</h4>
            <p>...because we all need them somewhere...</p></a
          >
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <!-- <h2>View our Portfolio</h2> -->
          <!-- <p>
            If you are interested in joining a Tron community like <em>Airmen Coders</em>,
            or would like to build a local #PoweredByTron software development team
            at your unit, take a look at our Portfolio/Partners to see what work is 
            currently being done! 
          </p>
          <a class="btn btn-default btn-call-to-action" href="/portfolio/"
            >View our Partners & Portfolio</a
          > -->
          <h2>Interested?</h2>
          <p>
            If you are interested in joining a Tron community like <em><b>Airmen Coders</b></em>,
            or would like to build a local <em><b>#PoweredByTron</b></em> software development team
            at your unit, reach out! 
          </p>
          <a class="btn btn-default btn-call-to-action" href="/contact/"
            >Contact Us</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Content Start -->
<!-- <section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>Fun Facts About Us</h2>
        <p>
          Far far away, behind the word mountains, far from the countries
          Vokalia and Consonantia, there live the blind texts. Separated they
          live in Bookmarksgrove right at the coast of the Semantics
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% if site.data.funfacts.size > 0 %}
        <div class="block">
          {% for ff in site.data.funfacts %}
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="{{ ff.icon }}"></i>
                <h4 class="counter">{{ ff.counter }}</h4>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
              <img src="img/cotation.png" alt="IMG" />
              <p>{{ tm.testimonial }}</p>
              <div class="user">
                <img src="{{ tm.image }}" alt="Pepole" />
                <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section> -->
