<div class="outside-wrapper">
<div class="inside-wrapper">
<div class="event-toggle-row">

    {% if page.sections.filters %}
    <button
      type="button"
      id="all"
      class="event-toggle-buttons event-toggle-buttons-selected"
    >
      All
    </button>
    {% endif %}

    {% for filter in page.sections.filters %}
    <button
      type="button"
      id={{ filter.filter }}
      class="event-toggle-buttons event-toggle-buttons-deselected"
    >
      {{ filter.title }}
    </button>
    {% endfor %}
</div>
  <div class="cards-row">
    {% for event in page.sections.events %}
    <div class="card {{ event.filter }}">
      <div class="card-image-wrapper">
        <img
        src={{ event.image }}
        class="card-image"
      />
    </div>
      <div class="card-title">{{event.title}}</div>
      <div class="card-dates">
          <div class="card-date">
            {{ event.date }}
          </div>
          <div class="card-time">
            {{ event.time }}
          </div>
      </div>
      <div class="card-desc">
        {{ event.description }}
      </div>
      <div class="card-actions">
        <!-- <a target="_blank" href={{ event.link }}> -->
          <button onclick="dimButton(event, '{{ event.link }}')" type="button" class="card-action">{{ event.button }}</button>
        <!-- </a> -->
      </div>
    </div>
    {% endfor %}
  </div>
</div>
</div>