<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="{{ '/' | absolute_url }}">Home</a></li>
            <!-- <li><a href="{{ '/portfolio' | absolute_url }}">Portfolio</a></li> -->
            <li><a href="{{ '/#service' | absolute_url }}">Services</a></li>
            <li><a href="{{ '/portfolio/puckboard' | absolute_url }}">Puckboard</a></li>
            <!-- <li><a href="{{ '/partners' | absolute_url }}">Partners</a></li> -->
            <!-- <li><a href="{{ '/blog' | absolute_url }}">Blog</a></li> -->
            <li><a href="https://tron.substack.com/">Blog</a></li>
            <li><a href="{{ '/contact' | absolute_url }}">Contact</a></li>
          </ul>
        </div>
      </div>
        <p>Site developed and maintained by <a href="{{ '/' | absolute_url }}">Tron Gov</a>.  Portions of this site utilize <a href="http://www.themefisher.com">Themefisher</a> designs. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
