<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="{{ '/#' | relative_url }}">Home</a></li>
            <>
              <a href="https://www.linkedin.com/company/phoenixsparktravis/"><i class="fa fa-linkedin"></i></a><br>
              <a href="https://www.facebook.com/PhoenixSparkLab/"><i class="fa fa-linkedin"></i></a>
              <a href="https://www.linkedin.com/company/phoenixsparktravis/"><i class="fa fa-linkedin"></i></a>
            </li>
          </ul>
        </div>
      </div>
        <p>Site developed and maintained by <b>Travis Coders</b>, a member of the </b><a href="https://tron.dso.mil/">Tron Software</a> and <b>Airmen Coders</b> ecosystems.  Portions of this site utilize <a href="http://www.themefisher.com">Themefisher</a> designs. All rights reserved.
        {% if page.layout == "p1" %}
        Icon by <a href="https://freeicons.io/profile/752">Mithun Raj</a> on <a href="https://freeicons.io">freeicons.io</a>
        {% endif %}
        </p>
      </div>
    </div>
  </div>
</footer>
