<!-- Header Start -->
<header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!-- header Nav Start -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ '/index.html' | relative_url }}">
              <img src="/img/logo.png" style="width:auto; height:100%" alt="Logo">
            </a>
          </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ '/' | relative_url }}">Home</a></li>
                <li><a href="{{ '/partners/' | relative_url }}">Partners</a></li>
                <!-- <li><a href="{{ '/apply/' | relative_url }}">Apply</a></li> -->
                <!-- <li><a href="{{ '/portfolio/' | relative_url }}">Portfolio</a></li> -->
                <li class="dropdown">
                  <a href="{{ '/start/' | relative_url }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Events <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href='/events?filter=demo-day'>Tech Demo</a></li>
                    <li><a href='/events?filter=3d'>3D Printing Classes</a></li>
                    <li><a href='/events/'>All Events</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Focus Areas <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="{{ '/manufacturing/'  | relative_url }}">Additive Manufacturing</a></li>
                    <li><a href="{{ '/digital/' | relative_url }}">Digital Environments</a></li>
                    <li><a href="{{ '/arvr/' | relative_url }}">AR/VR</a></li>
                    <li><a href="{{ '/suas/' | relative_url }}">sUAS</a></li>
                  </ul>
                </li>
                <!-- <li><a href="{{ '/#service' | relative_url }}">Resources</a></li> -->
                <li class="dropdown">
                  <a href="{{ '/start/' | relative_url }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Resources <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="{{ '/start/' | relative_url }}">Get Started</a></li>
                    <li><a href='https://tron.dso.mil/'>Tron Software</a></li>
                    <li><a href='https://www.afwerx.af.mil/'>AFWERX</a></li>
                    <li><a href="https://p1.dso.mil/">Platform One</a></li>
                    <li><a href="https://www.afwerx.af.mil/sbir.html">SBIR</a></li>
                    <li><a href="{{ 'https://tron.dso.mil/' | relative_url }}">Digital</a></li>
                    <li><a href="{{ '/contact/' | relative_url }}">Contact</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="{{ '/start/' | relative_url }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Reports <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a target="_blank" href="{{ '/reports/current.pdf' | relative_url }}">Dec 20</a></li>
                    <li><a target="_blank" href="{{ '/reports/previous.pdf' | relative_url }}">May 20</a></li>
                    <li><a target="_blank" href="{{ '/reports/last-year.pdf' | relative_url }}">Feb 20</a></li>
                  </ul>
                </li>
                <!-- <li><a href="{{ '/partners/' | relative_url }}">Partners</a></li> -->
                <!-- <li><a href="{{ '/blog/' | relative_url }}">Blog</a></li> -->
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
      </div>
    </div>
  </div>
</header><!-- header close -->
