<!-- Header Start -->
<header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!-- header Nav Start -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ '/index.html' | absolute_url }}">
              <img src="/img/logo.png" style="width:auto; height:100%" alt="Logo">
            </a>
          </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ '/' | absolute_url }}">Home</a></li>
                <!-- <li><a href="{{ '/portfolio/' | absolute_url }}">Portfolio</a></li> -->
                <li><a href="{{ '/#service' | absolute_url }}">Services</a></li>
                <li><a href="{{ '/portfolio/puckboard/' | absolute_url }}">Puckboard</a></li>
                <!-- <li><a href="{{ '/partners/' | absolute_url }}">Partners</a></li> -->
                <!-- <li><a href="{{ '/blog/' | absolute_url }}">Blog</a></li> -->
                <li><a href="https://tron.substack.com/">Blog</a></li>
                <li><a href="{{ '/contact/' | absolute_url }}">Contact</a></li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
      </div>
    </div>
  </div>
</header><!-- header close -->
