<!-- Header Start -->
<header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!-- header Nav Start -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ '/index.html' | relative_url }}">
              <img src="/img/logo.png" style="width:auto; height:500%" alt="Logo">
            </a>
          </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ '/' | relative_url }}">Home</a></li>
                <li class="dropdown">
                  <a href="/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Focus Areas <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="{{ '/manufacturing/'  | relative_url }}">Additive Manufacturing</a></li>
                    <li><a href="{{ '/digital/' | relative_url }}">Digital Environments</a></li>
                    <li><a href="{{ '/arvr/' | relative_url }}">AR/VR</a></li>
                    <li><a href="{{ '/suas/' | relative_url }}">sUAS</a></li>
                  </ul>
                </li>
                <li><a href="{{ '/industry/' | relative_url }}">Industry</a></li> 
                <!-- <li><a href="{{ '/apply/' | relative_url }}">Apply</a></li> -->
                <!-- <li><a href="{{ '/portfolio/' | relative_url }}">Portfolio</a></li> -->
                <li><a href="{{ '/events/' | relative_url }}">Events & Classes</a></li>
                <li><a href="{{ '/ideas/' | relative_url }}">Ideas</a></li>                
                <!-- <li><a href="{{ '/#service' | relative_url }}">Resources</a></li> -->
                <li class="dropdown">
                  <a href="{{ '/' | relative_url }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Resources <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="https://vision.apps.dso.mil/"><img src="{{ '/img/VISION-logo.png' | relative_url }}" style="width:100px;"></a></li>
                    <li><a href="{{ '/travis-coders-course/' | relative_url }}">Travis Coders Course Pre-Reqs</a></li> 
                    <li><a href="{{ '/digitize/' | relative_url }}">Digitize</a></li>           
                    <li><a href="{{ '/reserve/upper-room/' | relative_url }}">Upper Conference Room</a></li>
                    <li><a href="{{ '/reports/' | relative_url }}">Innovation Reports</a></li>
                    <li><a href="{{ '/1-pagers/' | relative_url }}">Company One-Pagers</a></li>
                    <li><a href="{{ '/links/' | relative_url }}">Partner Links</a></li>
                    <li><a href="{{ '/contact/' | relative_url }}">Contact Us</a></li>  
                    <li><a href="{{ '/video/' | relative_url }}">About Us (Video)</a></li>
                  </ul>
                </li>
                <!-- <li><a href="{{ '/partners/' | relative_url }}">Partners</a></li> -->
                <!-- <li><a href="{{ '/blog/' | relative_url }}">Blog</a></li> -->
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
      </div>
    </div>
  </div>
</header><!-- header close -->
