<style>
    :root {
      --main0: #{{ page.sections.main[0].color }};
      --main1: #{{ page.sections.main[1].color }};
      --timeline: #{{ page.sections.timeline.color }};
      --resources: #{{ page.sections.resources.color.standard }};
      --resources-button: #{{ page.sections.resources.color.button }};
      --bottom-banner: #{{ page.sections.banner.color }};
      --event-link-hover: #{{ page.sections.events.linkHoverColor }};
    }
    </style>
    <section class="intro">
      <div class="main-logo-intro" style="background-color: #{{ page.sections.intro.logo.color }};" >
        <img src="images/{{ page.sections.intro.logo.image }}" alt="{{ page.title }}" style="min-width: {{page.sections.intro.logo.scale}}; max-width: {{page.sections.intro.logo.scale}};" />
      </div>
      {% if page.sections.intro.banner.visible %}
      <div class="main-banner-intro" style="background-image: url(images/{{ page.sections.intro.banner.image }}); background-color: #{{ page.sections.intro.banner.color }};">
        <div class="text">{{ page.sections.intro.banner.leftText }}</div>
        {% if page.sections.intro.banner.spacer %}
        <div class="spacer"></div>
        {% endif %}
        <div class="text">{{ page.sections.intro.banner.rightText }}</div>
      </div>
      {% endif %}
    </section> <!-- End Intro -->
    <section class="main">
      <div class="gradient" style='background: linear-gradient(0deg, var(--main1), var(--main0) 49%, #fff);'>
        <div class="heading-block">
          <h3>{{ page.sections.main[0].descriptor }}</h3>
          <h2>{{ page.sections.main[0].purpose }}</h2>
        </div>
        <div class="bar" >
        </div><!-- End Bar -->
        <div class="img-text">
          <div class="img-text-inner">
            <div class="img">
              <img src="images/{{ page.sections.main[0].feature.image }}" alt="{{ page.sections.main[0].purpose }}"/>
            </div>
            <div class="text">
              <div class="text-head">{{ page.sections.main[0].feature.compactDescription }}</div>
              <div class="text-body">
              {{ page.sections.main[0].feature.expandedDescription }}
              </div>
            </div>
          </div>
        </div><!-- End Img-text block -->
        <div class="bar" >
        </div><!-- End Bar -->
        <div class="img-text">
          <div class="img-text-inner">
            <div class="img mobile">
              <img src="images/{{ page.sections.main[1].feature.image }}" alt="{{ page.sections.main[1].impact }}" />
            </div>
            <div class="text">
              <div class="text-head">{{ page.sections.main[1].feature.compactDescription }}</div>
              <div class="text-body">
              <p>{{ page.sections.main[1].feature.expandedDescription }}</p>
              </div>
            </div>
            <div class="img desktop">
              <img src="images/{{ page.sections.main[1].feature.image }}" alt="{{ page.sections.main[1].impact }}" />
            </div>
          </div>
        </div><!-- End Img-text block -->
        <div class="bar" style="background-color: #{{ page.sections.main[1].color }};">
          <div class="heading-block">
            <h3>{{ page.sections.main[1].descriptor }}</h3>
            <h2>{{ page.sections.main[1].impact }}</h2>
          </div>
        </div><!-- End Bar -->
        {% if page.sections.main[1].video %}
        <div class="video">
          <iframe width="500" height="284" src="{{ page.sections.main[1].video }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        {% endif %}
      </div> <!-- End Gradient Group -->
    
     {% if page.sections.main[2] %}
      <div class="block icon-graphic-group">
        <div class="icon-row">
          <div class="icon-block">
            <img class="icon" src="images/{{ page.sections.main[2].features[0].icon }}"/>
            <div class="icon-heading">{{ page.sections.main[2].features[0].compactDescription }}</div>
            <div class="icon-body">{{ page.sections.main[2].features[0].expandedDescription }}</div>
          </div>
          <div class="icon-block">
            <img class="icon" src="images/{{ page.sections.main[2].features[1].icon }}"/>
            <div class="icon-heading">{{ page.sections.main[2].features[1].compactDescription }}</div>
            <div class="icon-body">{{ page.sections.main[2].features[1].expandedDescription }}</div>
          </div> 
          <div class="icon-block">
            <img class="icon" src="images/{{ page.sections.main[2].features[2].icon }}"/>
            <div class="icon-heading">{{ page.sections.main[2].features[2].compactDescription }}</div>
            <div class="icon-body">{{ page.sections.main[2].features[2].expandedDescription }}</div>
          </div>
        </div>
        <img class="graphic" src="images/{{ page.sections.main[2].image.name }}" style="padding: 3rem 0; min-width: {{page.sections.main[2].image.scale}}; max-width: {{page.sections.main[2].image.scale}};"/>
      </div> <!-- End icon block -->
      {% endif %}
      {% if page.sections.main[3] %}
      <div class="generic-wrapper" style="background-color: #{{ page.sections.main[3].color }};">
        <div class="img-text">
          <div class="img-text-inner">
            <div class="text">
              <div class="text-head">{{ page.sections.main[3].compactDescription }}</div>
              <div class="text-body">
              <p>{{ page.sections.main[3].expandedDescription }}</p>
              </div>
            </div>
            <div class="img">
              <img src="images/{{ page.sections.main[3].image.name }}" style="min-width: {{page.sections.main[3].image.scale}}; max-width: {{page.sections.main[3].image.scale}};"/>
            </div>
          </div>
        </div>
      </div> <!-- End feature block -->
      
      <div class="generic-wrapper events" style="background-color: #{{ page.sections.events.color }};">
        {% if page.sections.events.past %}
        <div class="heading-block">
          <h3>Completed Event</h3>
          <h2>Recordings</h2>
        </div>
        {% endif %}
        {% for event in page.sections.events.past %}
        <div class="img-text">
          <div class="img-text-inner icon">
            <div class="img">
              <img src="images/{{ event.image }}" />
            </div>
            <div class="text">
              <a href="{{ event.link }}">
              <div class="text-head">{{ event.name }}</div></a>
              <div class="text-body">
                <p>{{ event.description }}</p>
                {% if event.video %}
                <div class="video">
                  <iframe width="500" height="284" src="{{ event.video }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                {% endif %}
                <!-- <div class="icon-row">
                  <div class="icon-block">
                    <a href="{{ event.link }}">
                      <div class="icon-heading">{{ event.linkText }}</div>
                    </a>
                    <div class="icon-body">{{ event.dateTime }}</div>
                  </div>
                </div> -->
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        {% if page.sections.events.future %}
        <div class="heading-block">
          <h3>Coming Up</h3>
          <h2>Planned Events</h2>
        </div>
        {% endif %}
        {% for event in page.sections.events.future %}
        <div class="img-text">
          <div class="img-text-inner icon">
            <div class="img">
              <img src="images/{{ event.image }}" />
            </div>
            <div class="text">
              <a href="{{ event.link }}">
              <div class="text-head">{{ event.name }}</div></a>
              <div class="text-body">
                <p>{{ event.description }}</p>
                <div class="icon-row">
                  <div class="icon-block">
                    <a href="{{ event.link }}">
                      <div class="icon-heading">{{ event.linkText }}</div>
                    </a>
                    <div class="icon-body">{{ event.dateTime }}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div><!-- End Events -->
      {% endif %}

      <div class="timeline">
        <div class="heading-block">
          <h3>Timeline for release</h3>
          <h2>Major Feature Roadmap</h2>
        </div>
        <div class="timeline-inner">
          {% for release in page.sections.timeline.releases %}
          <div class="timeline-item" style="background-color: var(--timeline);">
              {{ release.name }} <strong class="upper">{{ release.date }}</strong>
          </div>
          {% endfor %}
          <div class="line"></div>
        </div>
      </div><!-- End Timeline -->
    
      <!-- <div class="gradient gray"> -->
        <div class="bar" style="background-color: var(--resources);">
          <div class="heading-block">
            <h3>Additional</h3>
            <h2>Resources</h2>
          </div>
        </div>
        <div class="resources">
          {% for file in page.sections.resources.files %}
          <a href="{{ 'resources/{{ file.fileName }}' | relative_url }}">{{ file.title }}</a>
          {% endfor %}
          {% for link in page.sections.resources.links %}
          <a href="{{ link.link }}">{{ link.title }}</a>
          {% endfor %}
        </div>
      <!-- </div> -->
    
    </section><!-- End Main -->
    <section class="support">
      <div class="support">
        <div class="support-heading">Have Questions? Want a Demo?</div>
        <a class="support-link" href="mailto:{{ page.sections.support.email }}">{{ page.sections.support.email }}</a>
      </div>
      <div class="main-logo-support">
        <img src="images/{{ page.sections.support.logo.image }}" alt="{{ page.title }}" style="min-width: {{page.sections.support.logo.scale}}; max-width: {{page.sections.support.logo.scale}};" />
      </div>
    </section>    