<style>
  :root {
    --timeline: #{{ page.sections.timeline.color }};
  }
</style>

<section id="hero" class="white">
    <div id="hero-image"></div>
    <div id="hero-container" class="container">
        <div id="row-hero" class="row">
            <div id="logo-wrapper">
                <img class="img-responsive" src="{{ page.sections.hero.logo }}" alt="{{ page.title }}" style="width: 600px;" />
                <h3>{{ page.sections.hero.header }}</h3><br>
            </div>
        </div>
        <br><br>
        <div id="hero-cta" class="row center">
          <h2><b>{{ page.sections.cta[0].header }}</b></h2>
          {% if page.sections.cta[0].button1Text %}
          <!-- <a class="btn btn-primary btn-lg" href="{% if page.sections.cta[0].isInternal %} {{ site.url }}{% endif %}/{{ page.sections.cta[0].button1Url}}">{{ page.sections.cta[0].button1Text }}</a> -->
          <a class="btn btn-primary btn-lg" href="{{ page.sections.cta[0].button1Url | relative_url }}">{{ page.sections.cta[0].button1Text }}</a>
          {% endif %}
        </div>
    </div>
</section>

{% for section in page.sections.splitColumns limit:2 %}
<section class="feature altBgs">
  <div class="container">
  <div class="row">
      {% if section.textOrientation == "right" %}
      <div class="col-md-6 col-sm-12">
        {% if section.video %}
        <iframe src="{{ section.video }}" width="500" height="284" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
        {% elsif section.image %}
        <img class="img-responsive" src="{{ section.image }}" width="500">
        {% endif %}
      </div><!-- .col-md-6 close -->
      {% endif %}
      <div class="col-md-6 col-sm-12">
        <h3>{{ section.header }}</h3>
        <p>{{ section.descriptor }}</p>

        {% if section.descriptor2 %}
        <p>{{ section.descriptor2 }}</p>
        {% endif %}
      </div><!-- .col-md-6 close -->
      {% if section.textOrientation == "left" %}
      <div class="col-md-6 col-sm-12">
        {% if section.video %}
        <div class="iframe-container">
          <iframe class="embed-video" src="{{ section.video }}" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
        </div>
        {% elsif section.image %}
        <img class="img-responsive" src="{{ section.image }}" width="500" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        {% endif %}
      </div><!-- .col-md-6 close -->
      {% endif %}
    </div>
  </div>
</section>
{% endfor %}

<section class="resources altBgs">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <h2 class="center">{{ page.sections.features[0].header }}</h2>
          </div>
      </div>
      <div class="row padding">
        {% for card in page.sections.features[0].cards limit:3 %}
        <div class="col-md-4 center">
            {% if card.image %}
            <img class="img-responsive center-block" src="{{ card.image }}" style="height: 100px;"/>
            {% elsif card.video %}
            <iframe src="{{ card.video }}" width="100%" height="240" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
            {% endif %}
          <h4>{{ card.header }}</h4>
          <p class="content-descriptor">{{ card.descriptor }}</p>
        </div>
        {% endfor %}
      </div>
  </div>
</section>

<section class="cta altBgs">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <h3>{{ page.sections.cta[1].header }}</h3>
        <h4>{{ page.sections.cta[1].descriptor }}</h4>
      </div>
      <div class="col-md-6 col-sm-12">
        {% if page.sections.cta[1].buttons %}
        <a class="btn btn-primary btn-lg" href="{{ page.sections.cta[1].buttons[0].url | relative_url }}">{{ page.sections.cta[1].buttons[0].text }}</a>
        {% for button in page.sections.cta[1].buttons offset:1 %}
        <a class="btn btn-primary btn-lg" href="{% if button.isInternal %} {{ site.url }}/{% endif %}{{ button.url }}">{{ button.text }}</a>
        {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
</section>

<section class="feature altBgs">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <h3>{{ page.sections.splitColumns[2].header }}</h3>
        <p>{{ page.sections.splitColumns[2].descriptor }}</p>
      </div><!-- .col-md-6 close -->
      <div class="col-md-6 col-sm-12">
        <img class="img-responsive" src="/puckboard/images/mobile.png" width="500">
      </div><!-- .col-md-6 close -->
    </div>
  </div>
</section>

<section class="resources altBgs">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <h2 class="center">{{ page.sections.features[1].header }}</h2>
          </div>
      </div>
      <div class="row padding">
        {% for card in page.sections.features[1].cards limit:6 %}
        <div class="col-md-2 center">
          <div class="card center-block">
            {% if card.image %}
            <img class="img-responsive center-block" src="{{ card.image }}"/>
            {% elsif card.video %}
            <iframe src="{{ card.video }}" width="100%" height="240" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
            {% endif %}
            <h4>{{ card.header }}</h4>
          </div>
          <!-- <h4>{{ card.header }}</h4> -->
          <p class="content-descriptor">{{ card.descriptor }}</p>
        </div>
        {% endfor %}
      </div>
  </div>
</section>

{% for section in page.sections.splitColumns2 %}
<section class="feature altBgs">
  <div class="container">
  <div class="row">
      {% if section.textOrientation == "right" %}
      <div class="col-md-6 col-sm-12">
        {% if section.video %}
        <iframe src="{{ section.video }}" width="500" height="284" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
        {% elsif section.image %}
        <img class="img-responsive" src="{{ section.image }}" width="500">
        {% endif %}
      </div><!-- .col-md-6 close -->
      {% endif %}
      <div class="col-md-6 col-sm-12">
        <h3>{{ section.header }}</h3>
        <p>{{ section.descriptor }}</p>

        {% if section.descriptor2 %}
        <p>{{ section.descriptor2 }}</p>
        {% endif %}
      </div><!-- .col-md-6 close -->
      {% if section.textOrientation == "left" %}
      <div class="col-md-6 col-sm-12">
        {% if section.video %}
        <iframe src="{{ section.video }}" width="500" height="284" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
        {% elsif section.image %}
        <img class="img-responsive" src="{{ section.image }}" width="500">
        {% endif %}
      </div><!-- .col-md-6 close -->
      {% endif %}
    </div>
  </div>
</section>
{% endfor %}

<section class="timeline altBgs">
    <div class="timeline">
      <div class="row">
        <div class="col-md-12">
          <h2 class="center">What's next for Puckboard?</h2>
          <div class="header-descriptor">
              <p></p>
          </div>
        </div>
      </div>
        <!-- <div class="heading-block">
          <h3>Timeline for release</h3>
          <h2>Major Feature Roadmap</h2>
        </div> -->
        <div class="timeline-inner">
          {% for release in page.sections.timeline.releases %}
          <div class="timeline-item" style="background-color: var(--timeline);">
              {{ release.name }} <strong class="upper">{{ release.date }}</strong>
          </div>
          {% endfor %}
          <div class="line"></div>
        </div>
      </div><!-- End Timeline -->
</section>

<section id="faq" class="faq altBgs">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <h2 class="center">{{ page.sections.faq.header }}</h2>
          </div>
      </div>
      <div class="row padding">
        {% for tab in page.sections.faq.tabs %}
        <button class="accordion">{{ tab.question }}</button>
        <div class="panel">
          <p>{{ tab.answer }}</p>
        </div>
        {% endfor %}
      </div>
  </div>
</section>

<section class="cta altBgs">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <h3>{{ page.sections.cta[2].header }}</h3>
        <h4>{{ page.sections.cta[2].descriptor }}</h4>
      </div>
      <div class="col-md-6 col-sm-12">
        {% if page.sections.cta[2].buttons %}
        <a class="btn btn-primary btn-lg" href="{{ page.sections.cta[2].buttons[0].url | relative_url }}">{{ page.sections.cta[2].buttons[0].text }}</a>
        {% for button in page.sections.cta[2].buttons offset:1 %}
        <a class="btn btn-primary btn-lg" href="{% if button.isInternal %} {{ site.url }}/{% endif %}{{ button.url }}">{{ button.text }}</a>
        {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
</section>